@tailwind base;
@tailwind components;
@tailwind utilities;


a {
  color: #95326A;
  text-decoration: none;
  transition: color 300ms;
  font-weight: 500;
  font-size: 1.5em;
}
a:hover {
  color: #95326A;
}
a:visited {
  color: #95326A;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  
}
nav {
  background-color: #333333;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
  padding: 2rem 1.5em;
  align-items: center;
  margin-bottom: 2em;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 1rem 0;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #95326A;
  }
  button {
    background-color: #95326A;
  }
}
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  ul {
    flex-direction: column;
    align-items: center;
  }
  button {
    width: 100%;
    margin-top: 1em;
  }
  
}